body {
    background-color:black;
    background-image:url('https://cdn.codewizardshq.com/228adcd6046fe021c56f8ae41f8d70da3b9b557f807b0eb4cf82adfdb189cdac.png');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    /*background-repeat: no-repeat;*/
    overflow: hidden;
    color:white;
  }
  
  #stars {
    width:70px;
    height:70px;
    position:absolute;
    top:200px;
    left:400px;
    border-radius:1000px;
    padding:10px;
    transition:0.5s all ease;
  }
  
  #stars:hover {
    width:80px;
    height:80px;
  }
  
  
  #stars:active {
    border: 2px solid white;
  }
  
  h1 {
    font-size: 32px;
    color:lightyellow;
    font-weight: normal;
  }
  
  #gameover{
    display:none;
    position:absolute;
    top:200px;
    width:100%;
    text-align: center;
    font-size:72px;
    color:lightyellow;
    text-shadow:1px 1px 1px red;
  }
  
  #score {
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:100px;
    color:white;
  }